<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Commitments</a>
    </div>
</div>

<div class="collapse d-sm-inline-flex flex-column">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/">Home</NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/commitments">Commitments</NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/commitments/create">Create</NavLink>
        </li>
    </ul>
    <DevUserSwitcher />
</div>
